#hk_module {
    font-family: verdana !important;
    font-size:11px !important;
}

h2.hk_title {
    color:orange;
}

.hk_cena {
    color:#d00;
    font-size: 15px;
    font-weight: bold;
}

.hk_book,.hk_book_desc {
    color:#333;
    display:block;
    font-size: 11px;
    vertical-align: top;
    position: relative;
    padding: 20px 0;
}


#hk_wyszukiwarka * {
    background-color: inherit;
    font-size: 11px;
    padding:0px;
    white-space: nowrap;
}

#hk_wyszukiwarka input[type=text] {
    height:21px;
    top: 2px;
    position:relative;
    margin-right:15px;
}

#hk_wyszukiwarka_submit {
    padding-top:10px;
    width:100%;
}

.hk_checked {
    color:orange;
}

.hk_checked_box {
    background-color: orange;
}

.hk_checked_box > a{
    color:#fff;
}

.hk_helion_box {
    position: absolute;
    bottom: 5px;
}
.hk_details {
    position: relative;
    bottom: 0;
}
.hk_helion_box a::after, 
.hk_helion_box a::before {
    content: " ";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
}
.hk_helion_box a {
    box-shadow: none;
    background-color: #f0f0f0;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 16px;
    display: inline-block;
    height: 100%;
    line-height: 36px;
    position: relative;
    text-decoration: none;
    color: #000;
}
.hk_helion_box a:hover {
    color: #fff;
    background-color: #e4001e;
    border: 1px solid #e6001e;
    border-radius: 4px;
    box-shadow: none;
}
.hk_helion_box a:hover:before {
    opacity:0;
}
.hk_helion_box a:hover:after {
    opacity:1;
}
.hk_helion_box a::before {
    left: 8px;
    background: transparent url(https://static01.helion.com.pl/helion/images/helion.svg) no-repeat -426px -321px;
}
.hk_helion_box a::after {
    left: 8px;
    background: transparent url(https://static01.helion.com.pl/helion/images/helion.svg) no-repeat -337px -321px;
    opacity: 0;
}

.hk_tags { list-style-type: none; margin: 0 !important; padding: 0 !important; }
.hk_tags .tag-new { background-color: #78cc5b; color: #fff; }
.hk_tags .tag-bestseller { background-color: #5b9bcc; color: #fff; }
.hk_tags .tag-new, .hk_tags .tag-bestseller { display: inline-block; padding: 0 10px; line-height: 25px; }

/* PONIZEJ UMIESZCZAMY ZMIANY POZYCJI I WIELKOSCI */

.pager {
    margin-bottom:30px;
}

.pager > .item {
    border:1px solid #f6f6f6;
    display:inline-block;
    padding:5px;
    height:15px;
    margin-right:5px;
    margin-bottom:4px;
    text-align: center;
    width:25px;
}

.pager > .item > a {
    padding:5px;    
}

.hk-page-per-page {
    display: none;
}


.hk_line_through {
    text-decoration: line-through;
}

.hk_box {
    margin-bottom: 20px;
}

.hk_basket,.hk_basket_desc {
    position:absolute;
    margin-top:152px;
}

.hk_basket_desc {
    margin-top:260px;
}

.hk_book_single {
    text-align: center;
    position: relative;
}

.hk_book_single .hk_basket {
    position: relative;
    margin-top: 0px;
}

.hk_book,.hk_book_desc {
   display:inline-block;    
   min-height:176px;
   margin-bottom: 40px;
   vertical-align: top;
   width:50%;
   
}    

span.hk_label {
    font-weight: bold;
}

.hk_book_desc {
    width:100%;
}

.hk_cover img {
    border:0px;
    height:176px;
    vertical-align: top;
    width:120px;
}

.hk_cover_desc img {    
    width:200px;
}

.hk_cover,.hk_cover_desc,.hk_desc {
    display:inline-block;
    vertical-align: top;    
    width:39%;
}

.hk_desc {
    width:58%;
}

.readmore {
    float:right;
}

.hk_books_hidden_1,.hk_books_hidden_2 {
    display:none;
}